body, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  color: #EEE;
  font-size: 16px;
  font-family: sans-serif;
  padding: 2em 10%;
}

input, textarea, button, select {
  font-size: inherit;
  background-color: rgba(0,0,0,.1);
  color: inherit;
  border-radius: .3em;
  padding: .3em;
  border: 1px solid rgba(0,0,0,.5);
  box-shadow: inset 0 0 .5em rgba(0,0,0,.7);
}
input, button, select {
  text-align: center;
}

h1 {
  font-size: 300%;
  text-shadow: .1em .1em .3em #000;
  margin-bottom: 1em;
  white-space: nowrap;
}
h1 span {
  display: inline-block;
  font-size: 40%;
  padding: .3em 1em;
  background: #FB0;
  color: #222;
  transform: rotate(-10deg);
  border-radius: .5em;
  position: relative;
  top: .8em;
  left: -6em;
  z-index: -1;
  text-shadow: none;
  box-shadow: inset 0 0 .666em #D60;
}

#setup > .group-box {
  width: 45%;
}

#pdf-viewer {
  border: 1px solid #222;
  border-radius: 1em;
  width: 100%;
  height: 700px;
  filter: drop-shadow(.1em .1em .6em rgba(0,0,0,.8));
}
