@media (max-width: 600px) {

  body {
    font-size: 13px;
    padding: 1em 0 0 0;
  }

  h1 {
    margin-left: 10%;
  }

  .group-box {
    border-radius: 0;
  }

  #pdf-viewer {
    border-radius: 0;
    border: none;
    height: 550px;
  }
}
