.row {
  display: flex;
  gap: 2em;
  margin: 2em 0;
}
.row--wrapable {
  flex-wrap: wrap;
}
.row--half-gap {
  gap: 1em;
}

.row > * {
  flex-grow: 1;
}

label {
  position: relative;
  display: block;
  margin: .5em 0;
}

label span {
  display: inline-block;
  margin: .3em .5em .3em 0;
}

label.vertical span {
  display: block;
}

textarea {
  width: 100%;
  height: 10em;
}

.help {
  position: absolute;
  display: block;
  background: red;
  width: 1em;
  height: 1em;
  top: 0;
  right: 0;
}

.group-box {
  position: relative;
  background: #444;
  border-radius: 1em;
  padding: 1.5em;
  margin-top: 1em;
  filter: drop-shadow(.1em .1em .6em rgba(0,0,0,.8));
}
.group-box .group-box {
  background: #555;
  border-radius: .8em;
  filter: drop-shadow(.1em .1em .4em rgba(0,0,0,.7));
}

.group-box__title {
  position: absolute;
  display: block;
  font-size: 150%;
  top: -1em;
  background: #444;
  padding: .3em .6em;
  border-radius: .5em .5em 0 0;
  color: #F90;
}
.group-box .group-box .group-box__title {
  font-size: 1.2em;
  background: #555;
}

.subtle-note {
  font-size: 80%;
  opacity: .8;
}
