#template {
  min-width: 28em;
}

:is(#tmpl-page, #tmpl-label) .subtle-note {
  margin: -.5em 0 1em 0;
}

#tmpl-page {
  flex-grow: 1;
}

#tmpl-margin {
  position: relative;
  height: 11em;
  width: 15em;
  margin: 0 -1.5em -.5em -1.5em;
}

#tmpl-margin::before { /* Draw a paper sheet on "Print Margin" box. */
  content: "";
  display: block;
  position: absolute;
  top: 2.5em;
  left: 50%;
  margin-left: -2em;
  width: 4em;
  height: 6em;
  border: 1px solid #555;
  background: linear-gradient(-45deg, #AAA, #DDD, #EEE);
  box-shadow: .1em .1em .4em rgba(0,0,0,.7);
}

#tmpl-margin::after {
  content: "";
  display: block;
  position: absolute;
  top: 3em;
  left: 50%;
  margin-left: -1.5em;
  width: 3em;
  height: 5em;
  border: 1px dashed #888;
}

#tmpl-margin input {
  width: 4em;
}

#tmpl-margin label {
  position: absolute;
  margin: 0;
}
#tmpl-margin label.vertical span {
  display: block;
  margin: 0;
}

#tmpl-margin__T {
  right: calc(50% - 2.1em);
}
#tmpl-margin__B {
  top: 9.1em;
  right: calc(50% - 2.1em);
}
#tmpl-margin__L {
  top: 3.5em;
  right: calc(50% + 2.5em);
}
#tmpl-margin__R {
  top: 3.5em;
  left: calc(50% + 2.75em);
}

#tmpl-label {
  flex-grow: 2;
}

#tmpl-label input {
  width: 4em;
}
